<div class="bg">
  <form class="editForm card" *ngIf="isEditable" [formGroup]="updateUserDetailsForm" (ngSubmit)="updateUserDetails()">
    <span class="title">Account Settings</span>
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input type="text" matInput formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="email">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput [type]="passwordVisibility ? 'password' : 'text'" formControlName="password">
      <button type="button" mat-icon-button matSuffix (click)="passwordVisibility = !passwordVisibility"
        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="passwordVisibility">
        <mat-icon>{{passwordVisibility ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Confirm password</mat-label>
      <input matInput [type]="confirmPasswordVisibility ? 'password' : 'text'" formControlName="confirmPassword">
      <button type="button" mat-icon-button matSuffix (click)="confirmPasswordVisibility = !confirmPasswordVisibility"
        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="confirmPasswordVisibility">
        <mat-icon>{{confirmPasswordVisibility ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <button mat-flat-button color="primary" type="submit">Update</button>

  </form>
  <div class="accountDetails card" *ngIf="!isEditable">
    <span class="title">Account Details</span>
    <table>
      <tr *ngFor="let item of userData | keyvalue">
        <td *ngIf="!['id','password'].includes(item.key)">{{item.key}}:</td>
        <td *ngIf="!['id','password'].includes(item.key)">{{item.value}}</td>
      </tr>
    </table>
    <button mat-stroked-button type="button" (click)="enableEditing()">Edit</button>
  </div>
</div>